@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  background: url('https://rare-gallery.com/uploads/posts/857438-Element-Night-Thundercloud-Lightning.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/
header {
  padding: 40px 0;
  background-color: #1E202B;
}

header .wrapper {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav { margin-right: 3%; }

.logo a { 
  font-size: 22px;
  font-weight: bold;
}

.logo a,.nav-list a {
  color: rgb(255,255,255);
  text-transform: capitalize;
}

.nav-items {
  display: flex;
  gap: 52px;
}

.nav-list a { 
  position: relative;
  font-size: 21px;
}

.nav-list a::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  display: block;
  background: rgb(255,255,255);
  transition: all .5s ease;
}

.nav-list a:hover::before{ width: 100%; }



/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
.weather-api {
  padding: 40px 0 207px;
}

.weather-container {
  width: 500px;
  min-width: 300px;
  margin: 85px auto 0;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.weather-content {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #414658;
}

.degree-content {
  display: flex;
  gap: 10px;
  font-size: 40px;
  font-weight: bold;
}

/* .degree-content figure {
  flex-basis: 25%;
} */

.today-date {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323544;
}

.degree-content {
  display: flex;
  align-items: center;
}

.city-form {
  margin: 20px 0;
  position: relative;
}

.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 13px 3%;
  border: none;
  border-radius: 50px;
  background-color: #1E202B;
  color: #fff;
  outline: none;
}

.input-control {
  position: absolute;
  top: 3px;
  right: .5%;
}

.input-control input {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: #409AD8;
  color: #fff;
}

.input-error {
  position: absolute;
  width: 100%;
  top: 65%;
  left: 0;
  padding: 20px 0;
  display: block;
  color: #409AD8;
  text-align: center;
}

.wind-content {
  display: flex;
  gap: 20px;
}

.wind-content li::before {
  padding-right: 7px;
  font-size: 20px;
  font-family: 'FontAwesome';
  float: left;
}

.humidity::before {
  content: '\f0e9';
}

.logo::before {
  content: '\f743';
  padding-right: 10px;
  color: #fff;
  font-family: 'FontAwesome';
  float: left;
  font-size: 30px;
}

.wind::before {
  content: '\f72e';
}

.deg::before {
  content: '\f14e';
}

/* .hide-content { display: none; } */


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/







/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}